<h1>All our flats</h1>

<div class="card">
  <% @flats.each do |flat| %>

    <div class="card-trip">
      <div class="card-trip-infos">
        <div>
          <h2><%= flat.name %></h2>
          <p><%= flat.description %></p>
        </div>
        <h2 class="card-trip-pricing"><%= flat.price_per_night %></h2>
        <div>
        <h2><%= flat.number_of_guests %></h2>
        </div>
      </div>
    </div>
<% end %>
</div>
